<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Mobile Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="container products">
        <h2>Products</h2>
        {% for product in products %}
        <div class="product">
            <img src="{{ url_for('static', filename='images/' + product['image_name']) }}" alt="{{ product['name'] }}">
            <h3>{{ product['name'] }}</h3>
            <p>Price: $<span>{{ product['price'] }}</span></p>
            <a href="/checkout?id={{product['id']}}">Buy</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
